@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background2: #f9f6ed;
  --foreground: #171717;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  box-shadow: 0 0 1em #d1ccbd;
  background-color: var(--background2);
}
.container-content {
  position: relative;
  z-index: 10;
}

a {
  color: #6a665c;
}
.container-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-right1 {
  position: absolute;
  right: -20px;
  top: 2em;
}
.bg-right2 {
  position: absolute;
  right: 60px;
  top: 8em;
}
.bg-left1 {
  position: absolute;
  left: -20px;
  top: 23em;
}
.location-container {
  display: block;
  position: relative;
  z-index: 5;
}
.location-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;

  background: linear-gradient(180deg, var(--background2) 0%, transparent 100%);
}
.location-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;

  background: linear-gradient(0deg, var(--background2) 0%, transparent 100%);
}
.text-section p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.text-section a {
  color: #6a665c;
}
.navigation a:hover {
  color: #000000;
  text-shadow: 0 0 2px #6a665c;
}
